# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Heroku
.DS_Store
*.pyc
*.pyo
*.pyd
__pycache__/
node_modules/